.page {
  max-width: 1100px;
  min-width: 320px;
  margin: auto;
  font-family: "Raleway", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
}
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 92px;
  margin-bottom: 91px;
}

.header__menu {
  display: flex;
  justify-content: end;
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  list-style: circle;
  margin-right: 31px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
  color: #000000;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.address {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  color: #000000;
  font-style: normal;
}

.header__logo {
  grid-column: 2 / 3;
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.cover {
  position: relative;
  padding-left: 9px;
  padding-right: 9px;
  z-index: 2;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  color: #ffffff;
  margin-bottom: 131px;
  padding-top: 162px;
}

.aligned-text {
  text-align: left;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  margin-bottom: 17px;
  margin-left: 59px;
}

.aligned-text_center {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.28em;
  text-align: center;
  margin-bottom: 19px;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  padding-right: 19px;
}

.aligned-text_right {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.09em;
  text-align: right;
  padding-right: 52px;
  display: inline-block;
  width: 100%;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 48px;
}

.cover__description-text {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-right: 68px;
}

.bet-button {
  width: 252px;
  height: 52px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.83px;
  text-align: center;
  margin-right: 49px;
  background: inherit;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.lots {
  display: flex;
  flex-direction: column;
  margin-top: 176px;
  padding-left: 33px;
  padding-right: 33px;
  margin-bottom: 177px;
}

.lots__heading {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  color: #000000;
  margin-left: 37px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 29px;
}

.lots__card-list-item {
  list-style: none;
  margin-right: 25px;
}

.lots__card-list-item:last-child {
  margin-right: 0px;
}

.card-link {
  text-decoration: none;
  height: 100%;
  display: block;
}

.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  z-index: 3;
  position: relative;
  min-height: 554px;
  width: 328px;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0px;
}

.card__title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 35px;
  padding-top: 48px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 46px;
}

.lots__look-more-link {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  color: #000000;
  padding-left: 39px;
  text-decoration: underline;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 50%;
  width: 237px;
  height: 237px;
  margin-left: 9px;
}

.about__logo-image {
  height: 114px;
  width: 148px;
}

.about {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-bottom: 75px;
  padding-left: 9px;
  padding-right: 9px;
}

.about__column {
  &:first-child {
    flex: 0 0 352px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:last-child {
    flex-grow: 1;
    padding-right: 9px;
    position: relative;
  }
}

.about__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 25px;
  margin-top: -150px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  color: #000000;
}

.about__text {
  padding-top: 244px;
}

.about__paragraph {
  padding-right: 12px;
  padding-left: 25px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  color: #000000;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer {
  padding-top: 106px;
  padding-bottom: 89px;
  padding-left: 58px;
  padding-right: 58px;
  display: flex;
  justify-content: space-between;
}

.footer__address {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
}

.footer__menu-link {
  text-decoration: underline;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  color: #000000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list-item {
  margin-right: 47px;
}

.footer__social-list-item:last-child {
  margin-right: 0px;
}
